<mat-progress-bar mode="query" color="accent" *ngIf="loading"></mat-progress-bar>

<ng-container *ngIf="job$ | async as job">
  <mat-card class="job-details">
    <ng-container *ngIf="job.details">
      <mat-card-title>{{ job.details.commit.message }}</mat-card-title>
      <mat-card-subtitle>{{ job.details.commit.author_name }}</mat-card-subtitle>
    </ng-container>
  </mat-card>
  <mat-card class="log-card">
    <pre>
    {{ job.traceFile }}
    </pre>
  </mat-card>
</ng-container>