<mat-toolbar color="primary">
  <a class="home" [routerLink]="['/']">Pipeline Viewer</a>
  <ng-container *ngFor="let breadcrumb of breadcrumbs$ | async">
    <ng-container *ngIf="breadcrumb.name">
      <span *ngIf="breadcrumb.url; else nourl">
        <a class="breadcrumb" [routerLink]="[breadcrumb.url]">&#160;/ {{ breadcrumb.name }}</a>
      </span>
      <ng-template #nourl>
        <span class="breadcrumb-no-link">&#160;/ {{ breadcrumb.name }}</span>
      </ng-template>
    </ng-container>
  </ng-container>
</mat-toolbar>
<router-outlet></router-outlet>