main {
  flex-wrap: wrap;
  display: flex;
}
mat-card {
  max-width: 200px;
  cursor: pointer;
  margin: 8px;
  &:hover {
    background-color: rgb(92, 92, 92);
  }
  a {
    color: inherit;
    text-decoration: none;
  }
}