<mat-progress-bar mode="query" color="accent" *ngIf="loading"></mat-progress-bar>
<main>
  <ng-container *ngFor="let pipeline of pipelines$ | async">
    <h3 class="pipeline">{{ pipeline.project_name }}</h3>
    <article>
      <section *ngFor="let stage of pipeline.stage">
        {{ stage.name }}
        <ng-container *ngFor="let job of stage.jobs">
          <ng-container *ngIf="groupId; else nogroup">
            <a [routerLink]="['/group', groupId, 'project', pipeline.project_id, 'job', job.id]">
              <mat-card class="job-card" [ngClass]="job.status">
                {{ job.name }}
              </mat-card>
            </a>
          </ng-container>
          <ng-template #nogroup>
            <a [routerLink]="['/project', pipeline.project_id, 'job', job.id]">
              <mat-card class="job-card" [ngClass]="job.status">
                {{ job.name }}
              </mat-card>
            </a>
          </ng-template>
        </ng-container>
      </section>
    </article>
  </ng-container>
</main>