@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(255, 216, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}
main {
  text-align: center;
  margin-top: 10px;
}
article {
  background-color: rgb(92, 91, 91);
  display: flex;
  overflow: auto;
  margin: 10px 20px;
  border-radius: 5px;
}
section {
  margin: 5px auto;
  color: rgb(207, 205, 205);
}
h3 {
  color: rgb(207, 205, 205);
}

mat-card {
  width: 135px;
  margin: 4px;
  opacity: 0.6;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  &.success {
    background-color: rgb(82, 255, 47);
  }
  &.failed {
    background-color: red;
  }
  &.pending {
    background-color: orange;
  }
  &.running {
    background-color: rgb(255, 216, 0);
    animation: shadow-pulse 1s infinite;
  }
  &.created, &.skipped {
    background-color: white;
  }
}
a {
  color: inherit;
  text-decoration: none;
}