<mat-progress-bar mode="query" color="accent" *ngIf="loading"></mat-progress-bar>
<ng-container *ngIf="groups$ | async as groups">
  <app-group-selector [groups]="groups"></app-group-selector>
</ng-container>